$colorSelectSite: #f16d7f;
$colorBackgroundFirst: #222;
$colorBackgroundSecond: #fff;
$colorTitleBasic: #000;
$widthBurgerMenu: 232px;


* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Lato", sans-serif;
}

a {
  text-decoration: none;
}

a:hover {
  cursor: pointer;
}

button:hover {
  cursor: pointer;
}

summary {
  display: block;
}

summary::-webkit-details-marker {
  display: none;
}

.center {
  padding-left: calc(50% - 575px);
  padding-right: calc(50% - 575px);
}

.box-content {
  overflow: hidden;
}

.header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  background: $colorBackgroundFirst;
  padding-top: 18px;
  padding-bottom: 18px;
  box-sizing: border-box;
  height: 75px;
  position: relative;
  

  &__left {
    display: flex;
    gap: 41px;
    align-items: center;
  }

  &__rigth {
    display: flex;
    align-items: center;
    gap: 21px;

    // .drop__content {
    //   .drop__menu {
    //     visibility: hidden;
    //     opacity: 0;
    //     z-index: -1;
    //     background: $colorBackgroundSecond;
    //     box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
    //     list-style-type: none;
    //     width: 232px;
    //     padding-top: 32px;
    //     padding-left: 33px;
    //     padding-bottom: 12px;
    //     position: absolute;
    //     top: 78.5px;
    //     left: calc(50% + 596px);
    //     transition: all 0.3s 0.3s;

    //     .menu__closure {
    //       position: absolute;
    //       top: 16px;
    //       right: 16px;
    //     }

    //     .menu__title {
    //       margin-bottom: 24px;
    //       color: #000;
    //       font-size: 14px;
    //       font-weight: 700;
    //     }

    //     .menu__item {
    //       margin-bottom: 20px;

    //       &__title {
    //         margin-bottom: 12px;

    //         .menu__link {
    //           color: $colorSelectSite;
    //           font-size: 14px;
    //           font-weight: 400;
    //         }
    //       }

    //       &__list {
    //         list-style-type: none;

    //         .menu__subitem {
    //           margin-bottom: 11px;
    //           margin-left: 21.5px;

    //           .submenu__link {
    //             color: #6f6e6e;
    //             font-size: 14px;
    //             font-weight: 400;
    //           }
    //         }
    //       }
    //     }
    //   }
    // }
    .burger_menu {
      margin-right: -21px;
      #burger {
        position: absolute;
        left: -999999px;
        visibility: hidden;
        &:not(:checked) ~ .nav {
          right: -$widthBurgerMenu;
        }
      }
      
      .nav {
        background: #FFF;
        box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
        width: $widthBurgerMenu;
        padding-left: 32px;
        padding-right: 32px;
        padding-top: 32px;
        padding-bottom: 12px;
        box-sizing: border-box;
        position: absolute;
        top: 75px;
        right: 0;
        z-index: 9999;
        transition: right .3s;


        .nav__list {
          list-style: none;
          &__title {
            color: #000;
            font-size: 14px;
            font-weight: 700;
            margin-bottom: 24px;
          }
          &__category {
            .category__link {
              color: #F16D7F;
              font-size: 14px;
              font-weight: 400;
              margin-bottom: 12px;
            }

            &__sublist {
              list-style: none;
              margin-top: 12px;
              margin-bottom: 9px;
              padding-left: 21px;
              padding-right: 21px;
              display: flex;
              flex-direction: column;
              gap: 11px;
              .sublist_chapter {
                &__link {
                  color: #6F6E6E;
                  font-size: 14px;
                  font-weight: 400;
                }
              }
            }
          }
          
        }
      }
    }

    // .drop__content:hover .drop__menu {
    //   opacity: 1;
    //   visibility: visible;
    //   z-index: 1;
    // }

    // .drop__content .menu__link:hover {
    //   color: #d73c3c;
    // }

    // .drop__content .submenu__link:hover {
    //   color: #383838;
    // }
  }
}

.top {
  display: flex;
  gap: 63.42px;
  background-color: rgba(241, 228, 230, 1);

  .main__picture {
    margin-left: -224px;
  }

  .custom__header {
    display: flex;
    gap: 16px;
    margin-top: 290px;
    margin-bottom: 381px;

    .top__image {
      margin-left: 0;
    }

    .top__content {
      .top__title {
        color: $colorTitleBasic;
        font-size: 48px;
        font-style: normal;
        font-weight: 900;
        line-height: normal;
      }

      .top__subtitle {
        color: $colorTitleBasic;
        font-size: 32px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;

        .highlighting {
          color: $colorSelectSite;
          font-size: 32px;
          font-style: normal;
          font-weight: 700;
          line-height: normal;
        }
      }
    }
  }
}

.categories {
  display: grid;
  grid-template-columns: repeat(3, 360px);
  gap: 30px;
  justify-content: center;
  padding-top: 65px;
  padding-bottom: 96px;
  background: $colorBackgroundSecond;

  .category__card {
    display: grid;
    justify-content: center;

    .card__content {
      padding-top: 105px;
      padding-bottom: 105px;
    }

    .card__content__long__card {
      padding-top: 65px;
      padding-bottom: 65px;
    }

    .category__subtitle {
      color: #fff;
      text-align: center;
      font-size: 16px;
      font-weight: 400;
    }

    .category__title {
      color: $colorSelectSite;
      font-size: 24px;
      font-weight: 700;
    }
  }

  .card1 {
    background-image: url("img/categories/bg1.svg");
    background-size: contain;
    width: 360px;
    height: 260px;
  }

  .card2 {
    background-image: url("img/categories/bg2.svg");
    background-size: contain;
    width: 360px;
    height: 260px;
  }

  .card3 {
    background-image: url("img/categories/bg3.svg");
    background-size: contain;
    width: 360px;
    height: 260px;
  }

  .card4 {
    background-image: url("img/categories/bg4.svg");
    background-size: contain;
    width: 1140px;
    height: 180px;
  }
}

.items {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 60px;
  background: $colorBackgroundSecond;

  &__title {
    color: $colorTitleBasic;
    font-size: 30px;
    font-weight: 400;
    margin-bottom: 6px;
  }

  &__text {
    color: #9f9f9f;
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 48px;
  }

  &__content {
    display: grid;
    grid-template-columns: repeat(3, 360px);
    gap: 30px;
    margin-bottom: 48px;

    .item {
      background-color: #f8f8f8;

      .wrapper {
        position: relative;

        .item__link__block {
          background: rgb(0, 0, 0);
          background-size: cover;
          width: 359px;
          height: 418px;
          display: flex;
          align-items: center;
          justify-content: center;

          .item__image {
            position: absolute;
            transition: all 0.3s ease-in;
          }

          .item__link {
            visibility: hidden;
            z-index: -1;
            transition: all 0.2s ease-in;

            .item__button {
              border: 1px solid white;
              background-color: transparent;
              display: flex;
              flex-direction: row;
              gap: 11px;
              align-items: center;
              padding-left: 13.5px;
              padding-right: 16.5px;
              padding-top: 11.5px;
              padding-bottom: 9px;

              .item__button__text {
                color: white;
              }
            }
          }
        }

        .item__link__block:hover .item__image {
          opacity: 0.5;
        }

        .item__link__block:hover .item__link {
          visibility: visible;
          z-index: 4;
        }
      }

      &__description {
        padding-left: 16px;

        .item__title {
          color: $colorTitleBasic;
          font-size: 13px;
          font-weight: 400;
          padding-top: 25px;
          padding-bottom: 16px;
        }

        .item__text {
          color: #5d5d5d;
          font-size: 14px;
          font-weight: 300;
          padding-bottom: 16px;
        }

        .price {
          color: $colorSelectSite;
          font-size: 16px;
          font-weight: 400;
          padding-bottom: 24px;
        }
      }
    }
  }

  .more {
    color: #f26376;
    border: 1px solid #ff6a6a;
    padding-top: 15px;
    font-size: 16px;
    padding-bottom: 14px;
    padding-left: 39px;
    padding-right: 39px;
    background-color: inherit;
    transition: all 0.3s;
  }

  .more:hover {
    background-color: $colorSelectSite;
    border-color: #ff6a6a;
    color: #fff;
  }
}

.footer {
  .advantages {
    padding-top: 103px;
    padding-bottom: 104px;
    background: $colorBackgroundFirst;
    display: flex;
    align-items: center;
    gap: 30px;
    color: #fbfbfb;

    &__card {
      text-align: center;

      .advantages__icon {
        margin-bottom: 28px;
      }

      .advantages__title {
        margin-bottom: 16px;
        font-size: 19.96px;
        font-weight: 400;
      }

      .advantages__text {
        font-size: 13.972px;
        font-weight: 300;
      }
    }
  }

  .subscription {
    background-image: url("img/footer/subscription/photo\ subscribe.jpg");
    background-size: cover;
    padding-top: 97px;
    padding-bottom: 126px;
    display: grid;
    gap: 327px;
    grid-template-columns: repeat(2, 360px);

    &__quote {
      text-align: center;

      .subscription__text {
        margin-top: 30px;
        width: 360px;
        height: 99px;
        color: $colorTitleBasic;
        text-align: center;
        font-size: 20px;
        font-weight: 400;
      }

      .subscription__text__italic {
        font-size: 20px;
        font-style: italic;
        font-weight: 400;
      }
    }

    &__content {
      text-align: center;
      position: relative;

      .subscription__title {
        color: $colorTitleBasic;
        text-align: center;
        font-size: 24px;
        font-weight: 700;
        line-height: 167.2%; /* 40.128px */
        margin-top: 53px;
      }

      .subscription__subtitle {
        color: $colorTitleBasic;
        font-size: 18px;
        font-weight: 400;
        line-height: 167.2%;
        margin-bottom: 32px;
      }

      .subscription__form {
        position: relative;
        .subscription__email {
          box-sizing: border-box;
          width: 356px;
          height: 49px;
          background-color: #e1e1e1;
          border: none;
          border-radius: 25px;
          padding-left: 22px;
          padding-top: 7px;
          padding-bottom: 6px;
          color: #222224;
          font-size: 14px;
          font-weight: 400;
          opacity: 0.671;
          outline: none;
        }

        .subscription__button {
          box-sizing: border-box;
          width: 100px;
          height: 49px;
          background-color: $colorSelectSite;
          border: none;
          border-top-right-radius: 25px;
          border-bottom-right-radius: 25px;
          padding-left: 8px;
          padding-top: 7px;
          padding-bottom: 6px;
          padding-right: 7px;
          color: #fff;
          text-align: center;
          font-size: 14px;
          font-weight: 400;
          transition: all 0.3s;
          position: absolute;
          top: 0;
          right: 0;
        }

        .subscription__button:hover {
          background-color: #d73c3c;
        }
      }
    }
  }

  .contacts {
    padding-top: 24px;
    padding-bottom: 23px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: $colorBackgroundFirst;

    &__copyrighting {
      color: #fbfbfb;
      font-size: 16px;
      font-weight: 400;
    }

    &__messengers {
      display: flex;
      flex-direction: row;
      gap: 7.29px;

      .messenger__wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 32px;
        height: 32px;
        background-color: $colorBackgroundSecond;
        transition: background-color 0.3s;
      }

      .messenger__wrapper:hover {
        background-color: $colorSelectSite;
      }
    }
  }
}

.top-head {
  background-color: #f8f3f4;
  padding-top: 60px;
  padding-bottom: 60px;
  display: flex;
  justify-content: space-between;
  text-align: center;

  &__heading {
    color: $colorSelectSite;
    font-size: 24px;
    font-weight: 400;
  }

  .breadcrumbs {
    color: #636363;
    font-size: 14px;
    &__link {
      color: #636363;
      font-size: 14px;
      font-weight: 300;
    }

    &__link__site {
      color: $colorSelectSite;
      font-size: 14px;
      font-weight: 700;
    }
  }
}

.product__slider {
  // padding-left: calc(50% - 800px);
  // padding-right: calc(50% - 800px);
  position: relative;
  background-color: $colorBackgroundSecond;

  &__image {
    width: 100%;
    position: relative;
    .product__slider__photo {
      width: 100%;
    }
    .left__arrow__button {
      position: absolute;
      top: 50%;
      left: 0;
      z-index: 2;
    }

    .left__arrow__button:hover > svg path {
      fill: #F16D7F;
    }
    .rigth__arrow__button {
      position: absolute;
      top: 50%;
      right: 0;
      z-index: 2;
      svg path {
        fill: black;
      }
    }

    .rigth__arrow__button:hover > svg path {
      fill: #F16D7F;
    }
  }

  &__description {
    &__wrapper {
      position: sticky;
      margin-top: -65px;
      padding-top: 65px;
      padding-bottom: 65px;
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      border: 1px solid #eaeaea;
      background-color: $colorBackgroundSecond;
    }
  }
  &__title {
    color: $colorSelectSite;
    font-size: 14px;
    font-weight: 300;
    margin-bottom: 12px;
  }
  &__firstline {
    margin-bottom: 12px;
  }
  &__subtitle {
    color: #4d4d4d;
    font-size: 18px;
    font-weight: 300;
    margin-bottom: 48px;
  }

  &__text {
    width: 555px;
    color: #5e5e5e;
    text-align: center;
    font-size: 14px;
    font-weight: 300;
    margin-bottom: 32px;
  }
  &__price {
    color: #ef5b70;
    font-size: 24px;
    font-weight: 300;
    margin-bottom: 65px;
  }
  &__secondline {
    margin-bottom: 65px;
  }

  .selection-params {
    display: flex;
    flex-direction: row;
    gap: 42px;
    margin-bottom: 48px;
    &__details {
      position: relative;
      cursor: pointer;
      &__summary {
        color: #6F6E6E;
        font-size: 14px;
        font-weight: 400;
        
      }
      &__wrapper {
        margin-top: 5px;
        position: absolute;
        background-color: $colorBackgroundSecond;
        box-shadow: 6px 4px 35px 0px rgba(0, 0, 0, 0.21);
        color: #6F6E6E;
        font-size: 14px;
        font-weight: 400;
        display: flex;
        flex-direction: column;
        padding: 7px 30px 6px 9px;


        &__checkbox-block {
          display: flex;
          flex-direction: row;
          align-items: center;
          gap: 9px;
          padding-bottom: 6px;
        }

      }
    }

    &__details summary::-webkit-details-marker {
      display: none;
    }
    
    &__details > summary {
      list-style: none;
    }

    &__details > summary::after {
      content: url('img/slider/DownArrow.svg');
      padding-left: 10px;
      position: absolute;
      top: -3px;
    }
  }



  &__button {
    border: 1px solid #ff6a6a;
    display: flex;
    gap: 23px;
    align-items: center;
    background-color: transparent;
    padding: 15px 24px;
    transition: all .3s;

    &__text {
      color: #f26376;
      font-size: 16px;
      font-weight: 400;
    }
  }

  &__button:hover {
    background-color: $colorSelectSite;
    border-color: #ff6a6a;
  }
  &__button:hover > &__button__text {
    color: #fff;
  }
  &__button:hover > svg path{
    stroke: #fff;
    fill: #fff;
  }

}

.product__items {
  padding-bottom: 128px;
  padding-top: 128px;
  background: $colorBackgroundSecond;

  &__content {
    display: grid;
    grid-template-columns: repeat(3, 360px);
    gap: 35px;

    .item {
      background-color: #f8f8f8;
      .wrapper {
        position: relative;

        .item__link__block {
          background: rgb(0, 0, 0);
          background-size: cover;
          width: 359px;
          height: 418px;
          display: flex;
          align-items: center;
          justify-content: center;

          .item__image {
            position: absolute;
            transition: all 0.3s ease-in;
          }

          .item__link {
            visibility: hidden;
            z-index: -1;
            transition: all 0.2s ease-in;

            .item__button {
              border: 1px solid white;
              background-color: transparent;
              display: flex;
              flex-direction: row;
              gap: 11px;
              align-items: center;
              padding-left: 13.5px;
              padding-right: 16.5px;
              padding-top: 11.5px;
              padding-bottom: 9px;

              .item__button__text {
                color: white;
              }
            }
          }
        }

        .item__link__block:hover .item__image {
          opacity: 0.5;
        }

        .item__link__block:hover .item__link {
          visibility: visible;
          z-index: 4;
        }
      }

      &__description {
        padding-left: 16px;

        .item__title {
          color: $colorTitleBasic;
          font-size: 13px;
          font-weight: 400;
          padding-top: 25px;
          padding-bottom: 16px;
        }

        .item__text {
          color: #5d5d5d;
          font-size: 14px;
          font-weight: 300;
          padding-bottom: 16px;
        }

        .price {
          color: $colorSelectSite;
          font-size: 16px;
          font-weight: 400;
          padding-bottom: 24px;
        }
      }
    }
  }
}

.catalog {
  padding-bottom: 96px;
  background-color: $colorBackgroundSecond;

  .filter-sort {
    position: relative;
    height: 132px;

    .filter {
      cursor: pointer;
      padding: 13px 16px 16px;
      width: 360px;
      position: absolute;
      top: 32px;
      z-index: 10;
      box-sizing: border-box;

      &[open] {
        background-color: #FFF;
        box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
      }

      &[open] .filter__heading{
        color: $colorSelectSite;
      }

      &[open] path {
        fill: $colorSelectSite;
      }

      &__summary {
        display: flex;
        align-items: center;
        gap: 11px;
      }
      &__heading {
        color: #000;
        font-size: 14px;
        font-weight: 600;
      }

      &__content {
        &__item {
          cursor: pointer;
          margin-top: 16px;
          &__heading {
            border-bottom: 1px solid #EBEBEB;
            border-left: 5px solid #EF5B70;
            color: #6F6E6E;
            font-size: 14px;
            font-weight: 400;
            line-height: 17px;
            padding-top: 8px;
            padding-bottom: 11px;
            padding-left: 11px;
            padding-right: 11px;
          }
          &[open] .filter__content__item__heading {
            color: #EF5B70;
          }
          &__link-box {
            display: flex;
            flex-direction: column;
            gap: 11px;
            padding: 24px 16px;
            &__link {
              color: #6F6E6E;
              font-size: 14px;
              font-weight: 400;
              transition: all .3s;

              &:hover {
                color: $colorSelectSite;
              }
            }
          }
        }
      }
    }

    .sort {
      cursor: pointer;
      position: absolute;
      left: 390px;
      top: 32px;
      padding-top: 13px;
      padding-bottom: 16px;
      z-index: 10;
      box-sizing: border-box;
      display: flex;
      flex-direction: row;
      gap: 28px;

      .sort__details {
        position: relative;
        .sort__summary {
          display: flex;
          gap: 10px;
          align-items: center;
          &__heading {
            color: #6F6E6E;
            font-size: 14px;
            font-weight: 400;
          }
        }
        .sort__content {
          position: absolute;
          margin-left: -9px;
          margin-top: 5px;
          background-color: $colorBackgroundSecond;
          box-shadow: 6px 4px 35px 0px rgba(0, 0, 0, 0.21);
          padding-top: 9px;
          padding-left: 9px;
          padding-right: 30px;
          padding-bottom: 12px;
          display: flex;
          flex-direction: column;
          gap: 6px;

          &__item {
            display: flex;
            flex-direction: row;
            gap: 9px;
            color: #6F6E6E;
            // font-family: Roboto;
            font-size: 14px;
            font-weight: 400;
            
            .chb {
              opacity: 0.3;
            }

            .chb-range {
              accent-color: $colorSelectSite;
            }

            .chb:checked {
              opacity: 1;
              accent-color: $colorSelectSite;
            }
          }
        }
      }
    }
  }

  .items__block {
    display: grid;
    gap: 30px;
    grid-template-columns: repeat(3, 360px);
    margin-bottom: 48px;
    .item {
      background-color: #f8f8f8;
      .wrapper {
        position: relative;

        .item__link__block {
          background: rgb(0, 0, 0);
          background-size: cover;
          width: 360px;
          height: 418px;
          display: flex;
          align-items: center;
          justify-content: center;

          .item__image {
            position: absolute;
            transition: all 0.3s ease-in;
          }

          .item__link {
            visibility: hidden;
            z-index: -1;
            transition: all 0.2s ease-in;

            .item__button {
              border: 1px solid white;
              background-color: transparent;
              display: flex;
              flex-direction: row;
              gap: 11px;
              align-items: center;
              padding-left: 13.5px;
              padding-right: 16.5px;
              padding-top: 11.5px;
              padding-bottom: 9px;

              .item__button__text {
                color: white;
              }
            }
          }
        }

        .item__link__block:hover .item__image {
          opacity: 0.5;
        }

        .item__link__block:hover .item__link {
          visibility: visible;
          z-index: 4;
        }
      }

      &__description {
        padding-left: 16px;

        .item__title {
          color: $colorTitleBasic;
          font-size: 13px;
          font-weight: 400;
          padding-top: 25px;
          padding-bottom: 16px;
        }

        .item__text {
          color: #5d5d5d;
          font-size: 14px;
          font-weight: 300;
          padding-bottom: 16px;
        }

        .price {
          color: $colorSelectSite;
          font-size: 16px;
          font-weight: 400;
          padding-bottom: 24px;
        }
      }
    }
  }

  .pagination__block {
    display: flex;
    justify-content: center;
    .pagination {
      width: 284px;
      border: 1px solid #ebebeb;
      border-radius: 4px;
      // display: inline-block;
      display: flex;
      justify-content: space-between;
      padding-top: 15px;
      padding-bottom: 15px;
      padding-left: 16px;
      padding-right: 16px;

      &__point {
        color: #c4c4c4;
        font-size: 16px;
        font-weight: 300;
        float: left;
        padding: 8px 8px;
      }

      &__point.active {
        color: #ef5b70;
        font-size: 16px;
        font-weight: 300;
      }

      &__point:hover:not(.active) {
        background-color: #ddd;
      }

      &__ellipsis {
        
        color: #c4c4c4;
        font-size: 16px;
        font-weight: 300;
        padding: 8px 0px;
        margin-right: -15px;
        margin-left: -15px;
      }
    }
  }
}

.cart {
  display: flex;
  flex-direction: row;
  gap: 128px;
  padding-top: 96px;
  padding-bottom: 128px;

  &__goods {
    display: flex;
    flex-direction: column;
    gap: 72px;
    &__items {
      display: flex;
      flex-direction: column;
      gap: 40px;

      &__item {
        width: 652px;
        display: flex;
        flex-direction: row;
        position: relative;
        box-shadow: 17px 19px 24px rgba(0, 0, 0, 0.13);
        background-color: $colorBackgroundSecond;
        transition: box-shadow .5s;

        &:hover {
          box-shadow: 21px 24px 28px rgba(0, 0, 0, 0.2);
        }

        &__info {
          width: 262px;
          box-sizing: border-box;
          padding-left: 31px;
          padding-top: 22px;
          padding-bottom: 62px;
          padding-right: 30px;
          margin-right: 57px;
          display: flex;
          flex-direction: column;
          gap: 42px;
          .info_heading {
            color: #222;
            font-size: 24px;
            font-weight: 400;
          }
          .info_content {
            display: flex;
            flex-direction: column;
            gap: 6px;

            &__item {
              display: flex;
              flex-direction: row;
              gap: 5px;
              &__name {
                color: #575757;
                font-size: 22px;
                font-weight: 400;
              }

              &__price {
                color: #EF5B70;
                font-size: 22px;
                font-weight: 400;
              }

              &__value {
                color: #6F6E6E;
                font-size: 22px;
                font-weight: 400;
              }

              &__quantity {
                width: 44px;
                box-sizing: border-box;
                color: #656565;
                font-size: 18px;
                font-weight: 400;
                border: 1px solid #EAEAEA;
                padding-left: 16px;
                padding-right: 16px;
                padding-top: 1px;
                padding-bottom: 1px;
                outline: none;
                transition: border-color .3s;

                &:focus {
                  border-color: #454545;
                }
              }
            }
          }
        }
        &__closure {
          position: absolute;
          top: 28px;
          right: 22px;
          & path {
            transition: all .3s;
          }
          &:hover path {
            fill: $colorSelectSite;
          }
        }
      }
    }

    &__controls {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      &__button {
        color: #000;
        font-size: 14px;
        font-weight: 300;
        border: 1px solid #A4A4A4;
        padding: 17px 41px;
        transition: color .3s,
                    border-color .3s;
        &:hover {
          border-color: $colorSelectSite;
          color: $colorSelectSite;
        }
      }
    }
  }

  &__order {
    display: flex;
    flex-direction: column;
    gap: 57px;
    width: 360px;

    &__recepient {
      padding-top: 17px;
      &__heading {
        margin-bottom: 20px;
        color: #222;
        font-size: 16px;
        font-weight: 300;
      }
      &__form {
        display: flex;
        flex-direction: column;
        gap: 21px;
        margin-bottom: 23px;
        .input_item {
          outline: none;
          box-sizing: border-box;
          color: #B1B1B1;
          padding-top: 14px;
          padding-bottom: 14px;
          padding-left: 17px;
          padding-right: 17px;
          border: 1px solid #A4A4A4;
          transition: border-color .3s;
          
          &:focus {
            border-color: #454545;
          }
        }
      }
      .recepient__form__button {
        border: 1px solid #A4A4A4;
        padding-top: 12px;
        padding-bottom: 12px;
        padding-left: 15px;
        padding-right: 15px;
        color: #4A4A4A;
        font-size: 11px;
        font-weight: 300;
        background: $colorBackgroundSecond;
        transition: color .3s,
                    border-color .3s;

        &:hover {
          color: $colorSelectSite;
          border-color: $colorSelectSite;
        }
      }
    }
    &__execute {
      background-color: #F5F3F3;
      padding-top: 39px;
      padding-bottom: 42px;
      padding-left: 44px;
      padding-right: 44px;
      &__total_block {
        margin-bottom: 21px;
        display: flex;
        flex-direction: column;
        gap: 12px;
        align-items: flex-end;
        &__subtotal {
          color: #4A4A4A;
          font-size: 11px;
          font-style: normal;
          font-weight: 400;
          display: flex;
          flex-direction: row;
          gap: 25px;
        }
        &__total {
          display: flex;
          flex-direction: row;
          gap: 25px;
          .total_label {
            color: #222;
            font-size: 16px;
            font-weight: 300;
          }
          .total_value {
            color: #F16D7F;
            font-size: 16px;
            font-weight: 700;
          }
        }
      }
      &__fulfill {
        border-top: 1px solid #E2E2E2;
        padding-top: 17px;
        .fulfill {
          color: #fff;
          background-color: #F16D7F;
          border: none;
          padding: 15px 42px;
          width: 273px;
          transition: background-color .3s;
          &:hover {
              background-color: #d73c3c;
          }
        }
      }
    }
  }
}

// @media (max-width: 1440px) {
//   .header {
//     &__rigth {
//       .drop__content {
//         .drop__menu {
//           left: auto;
//         }
//       }
//     }
//   }
// }

@media (max-width: 1024px) {
  .center {
    padding-left: calc(50% - 384px);
    padding-right: calc(50% - 384px);
  }
  .top {
    gap: 39px;

    .main__picture {
      width: 386px;
      height: 368px;
      margin-left: -112px;
      margin-top: 15px;
    }

    .custom__header {
      /* display: flex;
        gap: 16px; */
      margin-top: 138px;
      margin-bottom: 151px;

      .top__content {
        .top__title {
          font-size: 44px;
        }

        .top__subtitle {
          font-size: 24px;

          .highlighting {
            font-size: 24px;
          }
        }
      }
    }
  }

  .categories {
    grid-template-columns: repeat(3, 232px);
    gap: 19.9px;
    padding-top: 65px;
    padding-bottom: 109px;

    .category__card {
      .card__content {
        padding-top: 59px;
        padding-bottom: 59px;
      }

      .card__content__long__card {
        padding-top: 33px;
        padding-bottom: 33px;
      }

      .category__subtitle {
        font-size: 16px;
        font-weight: 400;
      }

      .category__title {
        font-size: 24px;
        font-weight: 700;
      }
    }

    .card1 {
      width: 232px;
      height: 168px;
    }

    .card2 {
      width: 232px;
      height: 168px;
    }

    .card3 {
      width: 232px;
      height: 168px;
    }

    .card4 {
      width: 734.6px;
      height: 116px;
    }
  }

  .items {
    padding-bottom: 70.5px;
    &__title {
      margin-bottom: 3.3px;
    }

    &__text {
      margin-bottom: 73px;
    }

    &__content {
      grid-template-columns: repeat(3, 292px);
      gap: 16px;
      margin-bottom: 32.5px;

      .item__description {
        .item__title {
          font-size: 13px;
          padding-top: 25px;
          padding-bottom: 13px;
        }

        .item__text {
          font-size: 14px;
          padding-bottom: 18px;
        }

        .price {
          font-size: 16px;
          padding-bottom: 20px;
        }
      }
    }
  }

  .footer {
    .advantages {
      padding-top: 48px;
      padding-bottom: 64px;
      display: grid;
      gap: 48.5px;
      justify-content: center;
      grid-template-columns: repeat(1, 360px);
    }

    .subscription {
      padding-top: 64px;
      padding-bottom: 140px;
      gap: 48px;
      grid-template-columns: repeat(1, 360px);
      justify-content: center;
    }

    .contacts {
      padding-top: 24px;
      padding-bottom: 23px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      background-color: $colorBackgroundFirst;
    }
  }
}

.product__items {
  padding-bottom: 128px;
  padding-top: 128px;
  background: $colorBackgroundSecond;

  &__content {
    display: grid;
    grid-template-columns: repeat(3, 360px);
    gap: 35px;
  }
}

@media (max-width: 767px) {
  .center {
    padding-left: calc(50% - 187.5px);
    padding-right: calc(50% - 187.5px);
  }

  .header {
    &__left {
      margin-left: 16px;
    }
    &__rigth {
      margin-right: 16px;
      .burger_menu {
        #burger {
          &:not(:checked) ~ .nav {
            right: -100%;
          }
        }
        .nav {
          width: 100%;
        }
      }

      // .drop__content {
      //   .drop__menu {
      //     left: 50%;
      //   }
      // }

      .user {
        display: none;
      }

      .backet {
        display: none;
      }
    }
  }

  .top {
    .main__picture {
      display: none;
    }

    .custom__header {
      margin-top: 148px;
      margin-bottom: 149px;
      gap: 15px;
      align-items: center;
      margin-left: 56px;

      .top__image {
        width: 12px;
        height: 61px;
      }

      .top__content {
        .top__title {
          font-size: 38px;
        }

        .top__subtitle {
          font-size: 20px;

          .highlighting {
            font-size: 20px;
          }
        }
      }
    }
  }

  .categories {
    grid-template-columns: repeat(1, 343px);
    gap: 19.9px;
    padding-top: 65px;
    padding-bottom: 109px;
    margin-left: 16px;

    .category__card {
      .card__content {
        padding-top: 98px;
        padding-bottom: 99px;
      }

      .card__content__long__card {
        padding-top: 30px;
        padding-bottom: 30px;
      }

      .category__subtitle {
        font-size: 16px;
        font-weight: 400;
      }

      .category__title {
        font-size: 24px;
        font-weight: 700;
      }
    }

    .card1 {
      width: 343px;
      height: 247px;
    }

    .card2 {
      width: 343px;
      height: 247px;
    }

    .card3 {
      width: 343px;
      height: 247px;
    }

    .card4 {
      width: 343px;
      height: 111px;
      background-size: 734.6px 116px;
      background-position: center;
    }
  }

  .items {
    padding-bottom: 85px;
    margin-left: 8px;

    &__title {
      margin-bottom: 3.3px;
    }

    &__text {
      margin-bottom: 65px;
    }

    &__content {
      grid-template-columns: repeat(1, 360px);
      margin-bottom: 41px;

      .item {
        &__description {
          &__title {
            font-size: 13px;
            padding-top: 25px;
            padding-bottom: 13px;
          }

          &__text {
            font-size: 14px;
            padding-bottom: 18px;
          }

          .price {
            font-size: 16px;
            padding-bottom: 20px;
          }
        }
      }
    }
  }

  .footer {
    .advantages {
      padding-top: 48px;
      padding-bottom: 81px;
      gap: 46.73px;
      grid-template-columns: repeat(1, 347.8px);
    }

    .subscription {
      padding-top: 64px;
      padding-bottom: 110px;
      gap: 59px;
      grid-template-columns: repeat(1, 343px);

      &__quote {
        .subscription__text {
          font-size: 18px;
        }

        .subscription__text__italic {
          font-size: 18px;
        }
      }

      &__content {
        .subscription__title {
          font-size: 24px;
        }

        .subscription__subtitle {
          font-size: 14px;
        }

        .subscription__form {
          .subscription__email {
            width: 243px;
            height: 47px;
          }

          .subscription__button {
            width: 95.8px;
            height: 47px;
          }
        }
      }
    }

    .contacts {
      padding-top: 43px;
      padding-bottom: 9px;
      display: flex;
      flex-direction: column-reverse;
      gap: 40px;
      justify-content: center;
      align-items: center;
      background-color: #222224;
    }
  }

  .product__items {
    padding-bottom: 128px;
    padding-top: 128px;
    background: $colorBackgroundSecond;
  
    &__content {
      display: grid;
      grid-template-columns: repeat(1, 360px);
    }
  }
}
