* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Lato", sans-serif;
}

a {
  text-decoration: none;
}

a:hover {
  cursor: pointer;
}

button:hover {
  cursor: pointer;
}

.center {
  padding-left: calc(50% - 575px);
  padding-right: calc(50% - 575px);
}

.header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  background: #222;
  padding-top: 18px;
  padding-bottom: 19px;
  position: relative;
}
.header__left {
  display: flex;
  gap: 41px;
  align-items: center;
}
.header__rigth {
  display: flex;
  gap: 41px;
  align-items: center;
}
.header__rigth .drop__content .drop__menu {
  visibility: hidden;
  opacity: 0;
  z-index: -1;
  background: #fff;
  box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
  list-style-type: none;
  width: 232px;
  padding-top: 32px;
  padding-left: 33px;
  padding-bottom: 12px;
  position: absolute;
  top: 78.5px;
  left: calc(50% + 596px);
  transition: all 0.3s 0.3s;
}
.header__rigth .drop__content .drop__menu .menu__closure {
  position: absolute;
  top: 16px;
  right: 16px;
}
.header__rigth .drop__content .drop__menu .menu__title {
  margin-bottom: 24px;
  color: #000;
  font-size: 14px;
  font-weight: 700;
}
.header__rigth .drop__content .drop__menu .menu__item {
  margin-bottom: 20px;
}
.header__rigth .drop__content .drop__menu .menu__item__title {
  margin-bottom: 12px;
}
.header__rigth .drop__content .drop__menu .menu__item__title .catalog__link {
  color: #f16d7f;
  font-size: 14px;
  font-weight: 400;
}
.header__rigth .drop__content .drop__menu .menu__item__list {
  list-style-type: none;
}
.header__rigth .drop__content .drop__menu .menu__item__list .menu__subitem {
  margin-bottom: 11px;
  margin-left: 21.5px;
}
.header__rigth .drop__content .drop__menu .menu__item__list .menu__subitem .chapter__link {
  color: #6f6e6e;
  font-size: 14px;
  font-weight: 400;
}
.header__rigth .drop__content:hover .drop__menu {
  opacity: 1;
  visibility: visible;
  z-index: 1;
}
.header__rigth .drop__content .catalog__link:hover {
  color: #d73c3c;
}
.header__rigth .drop__content .chapter__link:hover {
  color: #383838;
}

.top {
  display: flex;
  gap: 63.42px;
  background-color: rgb(241, 228, 230);
}
.top .main__picture {
  margin-left: -224px;
}
.top .custom__header {
  display: flex;
  gap: 16px;
  margin-top: 290px;
  margin-bottom: 381px;
}
.top .custom__header .top__image {
  margin-left: 0;
}
.top .custom__header .top__content .top__title {
  color: #222;
  font-size: 48px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
}
.top .custom__header .top__content .top__subtitle {
  color: #222;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.top .custom__header .top__content .top__subtitle .highlighting {
  color: #f16d7f;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.categories {
  display: grid;
  grid-template-columns: repeat(3, 360px);
  gap: 30px;
  justify-content: center;
  padding-top: 65px;
  padding-bottom: 96px;
}
.categories .category__card {
  display: grid;
  justify-content: center;
}
.categories .category__card .card__content {
  padding-top: 105px;
  padding-bottom: 105px;
}
.categories .category__card .card__content__long__card {
  padding-top: 65px;
  padding-bottom: 65px;
}
.categories .category__card .category__subtitle {
  color: #fff;
  text-align: center;
  font-size: 16px;
  font-weight: 400;
}
.categories .category__card .category__title {
  color: #f16d7f;
  font-size: 24px;
  font-weight: 700;
}
.categories .card1 {
  background-image: url("img/categories/bg1.svg");
  background-size: contain;
  width: 360px;
  height: 260px;
}
.categories .card2 {
  background-image: url("img/categories/bg2.svg");
  background-size: contain;
  width: 360px;
  height: 260px;
}
.categories .card3 {
  background-image: url("img/categories/bg3.svg");
  background-size: contain;
  width: 360px;
  height: 260px;
}
.categories .card4 {
  background-image: url("img/categories/bg4.svg");
  background-size: contain;
  width: 1140px;
  height: 180px;
}

.items {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 60px;
}
.items__title {
  color: #222;
  font-size: 30px;
  font-weight: 400;
  margin-bottom: 6px;
}
.items__text {
  color: #9f9f9f;
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 48px;
}
.items__content {
  display: grid;
  grid-template-columns: repeat(3, 360px);
  gap: 30px;
  margin-bottom: 48px;
}
.items__content .item {
  background-color: rgb(248, 248, 248);
}
.items__content .item .wrapper {
  position: relative;
  /* .item__link__block:hover::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: 2;
  } */
}
.items__content .item .wrapper .item__link__block {
  /* background-image: url("img/items/item2.svg"); */
  background: rgb(0, 0, 0);
  background-size: cover;
  width: 359px;
  height: 418px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.items__content .item .wrapper .item__link__block .item__image {
  position: absolute;
  transition: all 0.3s ease-in;
}
.items__content .item .wrapper .item__link__block .item__link {
  visibility: hidden;
  z-index: -1;
  transition: all 0.2s ease-in;
}
.items__content .item .wrapper .item__link__block .item__link .item__button {
  border: 1px solid white;
  background-color: transparent;
  display: flex;
  flex-direction: row;
  gap: 11px;
  align-items: center;
  padding-left: 13.5px;
  padding-right: 16.5px;
  padding-top: 11.5px;
  padding-bottom: 9px;
}
.items__content .item .wrapper .item__link__block .item__link .item__button .item__button__text {
  color: white;
}
.items__content .item .wrapper .item__link__block:hover .item__image {
  opacity: 0.5;
}
.items__content .item .wrapper .item__link__block:hover .item__link {
  visibility: visible;
  z-index: 4;
}
.items__content .item__description {
  padding-left: 16px;
}
.items__content .item__description .item__title {
  color: #000;
  font-size: 13px;
  font-weight: 400;
  padding-top: 25px;
  padding-bottom: 16px;
}
.items__content .item__description .item__text {
  color: #5d5d5d;
  font-size: 14px;
  font-weight: 300;
  padding-bottom: 16px;
}
.items__content .item__description .price {
  color: #f16d7f;
  font-size: 16px;
  font-weight: 400;
  padding-bottom: 24px;
}
.items .more {
  color: rgb(255, 106, 106);
  border: 1px solid rgb(255, 106, 106);
  padding-top: 15px;
  font-size: 16px;
  padding-bottom: 14px;
  padding-left: 39px;
  padding-right: 39px;
  background-color: #fff;
  transition: all 0.3s;
}
.items .more:hover {
  background-color: #f16d7f;
  border-color: #ff6a6a;
  color: #fff;
}

.footer .advantages {
  padding-top: 103px;
  padding-bottom: 104px;
  background: #222224;
  display: flex;
  gap: 30px;
  color: #fbfbfb;
}
.footer .advantages__card {
  text-align: center;
}
.footer .advantages__card .advantages__icon {
  margin-bottom: 28px;
}
.footer .advantages__card .advantages__title {
  margin-bottom: 16px;
  font-size: 19.96px;
  font-weight: 400;
}
.footer .advantages__card .advantages__text {
  font-size: 13.972px;
  font-weight: 300;
}
.footer .subscription {
  background-image: url("img/footer/subscription/photo subscribe.jpg");
  background-size: cover;
  padding-top: 97px;
  padding-bottom: 126px;
  display: grid;
  gap: 327px;
  grid-template-columns: repeat(2, 360px);
}
.footer .subscription__quote {
  text-align: center;
}
.footer .subscription__quote .subscription__text {
  margin-top: 30px;
  width: 360px;
  height: 99px;
  color: #222224;
  text-align: center;
  font-size: 20px;
  font-weight: 400;
  color: #222224;
}
.footer .subscription__quote .subscription__text__italic {
  font-size: 20px;
  font-style: italic;
  font-weight: 400;
}
.footer .subscription__content {
  text-align: center;
  position: relative;
}
.footer .subscription__content .subscription__title {
  color: #222224;
  text-align: center;
  font-size: 24px;
  font-weight: 700;
  line-height: 167.2%; /* 40.128px */
  margin-top: 53px;
}
.footer .subscription__content .subscription__subtitle {
  color: #222224;
  font-size: 18px;
  font-weight: 400;
  line-height: 167.2%;
  margin-bottom: 32px;
}
.footer .subscription__content .subscription__form {
  position: relative;
}
.footer .subscription__content .subscription__form .subscription__email {
  box-sizing: border-box;
  width: 356px;
  height: 49px;
  background-color: #e1e1e1;
  border: none;
  border-radius: 25px;
  padding-left: 22px;
  padding-top: 7px;
  padding-bottom: 6px;
  color: #222224;
  font-size: 14px;
  font-weight: 400;
  opacity: 0.671;
  outline: none;
}
.footer .subscription__content .subscription__form .subscription__button {
  box-sizing: border-box;
  width: 100px;
  height: 49px;
  background-color: #f16d7f;
  border: none;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
  padding-left: 8px;
  padding-top: 7px;
  padding-bottom: 6px;
  padding-right: 7px;
  color: #fff;
  text-align: center;
  font-size: 14px;
  font-weight: 400;
  transition: all 0.3s;
  position: absolute;
  top: 0;
  right: 0;
}
.footer .subscription__content .subscription__form .subscription__button:hover {
  background-color: #d73c3c;
}
.footer .contacts {
  padding-top: 24px;
  padding-bottom: 23px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #222224;
}
.footer .contacts__copyrighting {
  color: #fbfbfb;
  font-size: 16px;
  font-weight: 400;
}
.footer .contacts__messengers {
  display: flex;
  flex-direction: row;
  gap: 7.29px;
}
.footer .contacts__messengers .messenger__wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 32px;
  background-color: #fff;
  transition: background-color 0.3s;
}
.footer .contacts__messengers .messenger__wrapper:hover {
  background-color: #f16d7f;
}

.top-head {
  background-color: #F8F3F4;
  padding-top: 60px;
  padding-bottom: 60px;
  display: flex;
  justify-content: space-between;
  text-align: center;
}
.top-head__heading {
  color: #F16D7F;
  font-size: 24px;
  font-weight: 400;
}
.top-head .breadcrumbs {
  color: #636363;
  font-size: 14px;
}
.top-head .breadcrumbs__link {
  color: #636363;
  font-size: 14px;
  font-weight: 300;
}
.top-head .breadcrumbs__link__site {
  color: #F16D7F;
  font-size: 14px;
  font-weight: 700;
}

.product__slider {
  padding-left: calc(50% - 800px);
  padding-right: calc(50% - 800px);
  position: relative;
}
.product__slider__photo {
  width: 100%;
  position: relative;
}
.product__slider .left__arrow {
  position: absolute;
  top: calc(50% - 388px);
  left: 0;
  z-index: 2;
}
.product__slider .right__arrow {
  position: absolute;
  top: calc(50% - 388px);
  right: 0;
  z-index: 2;
}
.product__slider__description__wrapper {
  position: sticky;
  margin-top: -65px;
  padding-top: 65px;
  padding-bottom: 65px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid #EAEAEA;
  background-color: #fff;
}
.product__slider__title {
  color: #F16D7F;
  font-size: 14px;
  font-weight: 300;
  margin-bottom: 12px;
}
.product__slider__firstline {
  margin-bottom: 12px;
}
.product__slider__subtitle {
  color: #4D4D4D;
  font-size: 18px;
  font-weight: 300;
  margin-bottom: 48px;
}
.product__slider__text {
  width: 555px;
  color: #5E5E5E;
  text-align: center;
  font-size: 14px;
  font-weight: 300;
  margin-bottom: 32px;
}
.product__slider__price {
  color: #EF5B70;
  font-size: 24px;
  font-weight: 300;
  margin-bottom: 65px;
}
.product__slider__secondline {
  margin-bottom: 65px;
}
.product__slider .selection__params {
  display: flex;
  gap: 23px;
  justify-content: center;
  color: #6F6E6E;
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 48px;
}
.product__slider .selection__params .selection__block {
  display: flex;
  flex-direction: row;
  gap: 9px;
}
.product__slider .selection__params .selection__block .selection__param {
  outline: none;
  border: none;
  background-color: transparent;
}
.product__slider__button {
  border: 1px solid rgb(255, 106, 106);
  display: flex;
  gap: 23px;
  align-items: center;
  background-color: transparent;
  padding-left: 24px;
  padding-right: 57px;
  padding-top: 15px;
  padding-bottom: 9px;
}
.product__slider__button__text {
  color: #F26376;
  font-size: 16px;
  font-weight: 400;
}

.product__items {
  padding-bottom: 128px;
  padding-top: 128px;
}
.product__items__content {
  display: grid;
  grid-template-columns: repeat(3, 360px);
  gap: 35px;
}

@media (max-width: 1440px) {
  .header__rigth .drop__content .drop__menu {
    left: auto;
  }
}
@media (max-width: 1024px) {
  .center {
    padding-left: calc(50% - 384px);
    padding-right: calc(50% - 384px);
  }
  .top {
    gap: 39px;
  }
  .top .main__picture {
    width: 386px;
    height: 368px;
    margin-left: -112px;
    margin-top: 15px;
  }
  .top .custom__header {
    /* display: flex;
    gap: 16px; */
    margin-top: 138px;
    margin-bottom: 151px;
  }
  .top .custom__header .top__content .top__title {
    font-size: 44px;
  }
  .top .custom__header .top__content .top__subtitle {
    font-size: 24px;
  }
  .top .custom__header .top__content .top__subtitle .highlighting {
    font-size: 24px;
  }
  .categories {
    grid-template-columns: repeat(3, 232px);
    gap: 19.9px;
    padding-top: 65px;
    padding-bottom: 109px;
  }
  .categories .category__card .card__content {
    padding-top: 59px;
    padding-bottom: 59px;
  }
  .categories .category__card .card__content__long__card {
    padding-top: 33px;
    padding-bottom: 33px;
  }
  .categories .category__card .category__subtitle {
    font-size: 16px;
    font-weight: 400;
  }
  .categories .category__card .category__title {
    font-size: 24px;
    font-weight: 700;
  }
  .categories .card1 {
    width: 232px;
    height: 168px;
  }
  .categories .card2 {
    width: 232px;
    height: 168px;
  }
  .categories .card3 {
    width: 232px;
    height: 168px;
  }
  .categories .card4 {
    width: 734.6px;
    height: 116px;
  }
  .items {
    padding-bottom: 70.5px;
  }
  .items__title {
    margin-bottom: 3.3px;
  }
  .items__text {
    margin-bottom: 73px;
  }
  .items__content {
    grid-template-columns: repeat(2, 360px);
    gap: 16px;
    margin-bottom: 32.5px;
  }
  .items__content .item__description .item__title {
    font-size: 13px;
    padding-top: 25px;
    padding-bottom: 13px;
  }
  .items__content .item__description .item__text {
    font-size: 14px;
    padding-bottom: 18px;
  }
  .items__content .item__description .price {
    font-size: 16px;
    padding-bottom: 20px;
  }
  .footer .advantages {
    padding-top: 48px;
    padding-bottom: 64px;
    display: grid;
    gap: 48.5px;
    justify-content: center;
    grid-template-columns: repeat(1, 360px);
  }
  .footer .subscription {
    padding-top: 64px;
    padding-bottom: 140px;
    gap: 48px;
    grid-template-columns: repeat(1, 360px);
    justify-content: center;
  }
  .footer .contacts {
    padding-top: 24px;
    padding-bottom: 23px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #222224;
  }
}
@media (max-width: 767px) {
  .center {
    padding-left: calc(50% - 187.5px);
    padding-right: calc(50% - 187.5px);
  }
  .header__left {
    margin-left: 16px;
  }
  .header__rigth {
    margin-right: 16px;
  }
  .header__rigth .drop__content .drop__menu {
    left: 50%;
  }
  .header__rigth .user {
    display: none;
  }
  .header__rigth .backet {
    display: none;
  }
  .top .main__picture {
    display: none;
  }
  .top .custom__header {
    margin-top: 148px;
    margin-bottom: 149px;
    gap: 15px;
    align-items: center;
    margin-left: 56px;
  }
  .top .custom__header .top__image {
    width: 12px;
    height: 61px;
  }
  .top .custom__header .top__content .top__title {
    font-size: 38px;
  }
  .top .custom__header .top__content .top__subtitle {
    font-size: 20px;
  }
  .top .custom__header .top__content .top__subtitle .highlighting {
    font-size: 20px;
  }
  .categories {
    grid-template-columns: repeat(1, 343px);
    gap: 19.9px;
    padding-top: 65px;
    padding-bottom: 109px;
    margin-left: 16px;
  }
  .categories .category__card .card__content {
    padding-top: 98px;
    padding-bottom: 99px;
  }
  .categories .category__card .card__content__long__card {
    padding-top: 30px;
    padding-bottom: 30px;
  }
  .categories .category__card .category__subtitle {
    font-size: 16px;
    font-weight: 400;
  }
  .categories .category__card .category__title {
    font-size: 24px;
    font-weight: 700;
  }
  .categories .card1 {
    width: 343px;
    height: 247px;
  }
  .categories .card2 {
    width: 343px;
    height: 247px;
  }
  .categories .card3 {
    width: 343px;
    height: 247px;
  }
  .categories .card4 {
    width: 343px;
    height: 111px;
    background-size: 734.6px 116px;
    background-position: center;
  }
  .items {
    padding-bottom: 85px;
    margin-left: 8px;
  }
  .items__title {
    margin-bottom: 3.3px;
  }
  .items__text {
    margin-bottom: 65px;
  }
  .items__content {
    grid-template-columns: repeat(1, 360px);
    margin-bottom: 41px;
  }
  .items__content .item__description__title {
    font-size: 13px;
    padding-top: 25px;
    padding-bottom: 13px;
  }
  .items__content .item__description__text {
    font-size: 14px;
    padding-bottom: 18px;
  }
  .items__content .item__description .price {
    font-size: 16px;
    padding-bottom: 20px;
  }
  .footer .advantages {
    padding-top: 48px;
    padding-bottom: 81px;
    gap: 46.73px;
    grid-template-columns: repeat(1, 347.8px);
  }
  .footer .subscription {
    padding-top: 64px;
    padding-bottom: 110px;
    gap: 59px;
    grid-template-columns: repeat(1, 343px);
  }
  .footer .subscription__quote .subscription__text {
    font-size: 18px;
  }
  .footer .subscription__quote .subscription__text__italic {
    font-size: 18px;
  }
  .footer .subscription__content .subscription__title {
    font-size: 24px;
  }
  .footer .subscription__content .subscription__subtitle {
    font-size: 14px;
  }
  .footer .subscription__content .subscription__form .subscription__email {
    width: 243px;
    height: 47px;
  }
  .footer .subscription__content .subscription__form .subscription__button {
    width: 95.8px;
    height: 47px;
  }
  .footer .contacts {
    padding-top: 43px;
    padding-bottom: 9px;
    display: flex;
    flex-direction: column-reverse;
    gap: 40px;
    justify-content: center;
    align-items: center;
    background-color: #222224;
  }
}/*# sourceMappingURL=style.css.map */